{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Contact</h1>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="{{ url_for('static', filename='images/profile.png') }}"
                        class="img-fluid rounded-circle mb-3" style="max-width: 200px;">
                </div>
                <div class="col-md-8 text-center">
                    <h3 class="card-title">Sinèad Obeng</h3><br>
                    <ul class="list-unstyled">
                        <li class="mb-2" style="font-size: 15px;">
                            <i class="fas fa-graduation-cap"></i> Computer Science Student
                        </li>
                        <li class="mb-2" style="font-size: 15px;">
                            <i class="fa fa-map-marker-alt"
                                style="font-size: 15px; color: lightgrey; margin-right: 5px;"></i> London, United
                            Kingdom
                        </li>
                        <br>
                        <li class="mb-2">
                            <a href="mailto:sinead.obeng@gmail.com" target="_blank" class="contact-icon">
                                <i class="fa fa-envelope" style="font-size: 30px; color: gray;"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/sinead-obeng/" target="_blank" class="contact-icon">
                                <i class="fa fa-linkedin-square" style="font-size: 30px; color: blue;"></i>
                            </a>
                            <a href="https://github.com/sinead-obeng" target="_blank" class="contact-icon">
                                <i class="fa fa-github-square" style="font-size: 30px; color: black;"></i>
                            </a>
                        </li>
                        <!-- Add additional contact information or links here -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}