{% extends 'base.html' %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h1 class="text-center mb-4">Skills</h1>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <section id="hard-skills">
      <h2 style="border-bottom: 2px solid;">Hard Skills</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="skill">
            <p class="lead">Data Structure and Algorithms</p>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        <ul>
          <li>Knowledge of fundamental data structures</li>
          <li>Proficiency in algorithm design and analysis</li>
        </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="skill">
            <p class="lead">Data Visualisation Tools</p>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        <ul>
          <li>Power BI</li>
        </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="skill">
            <p class="lead">Git</p>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="skill">
            <p class="lead">Machine Learning and Artificial Intelligence</p>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        <ul>
          <li>Understanding of ML/AI concepts</li>
          <li>Proficiency in ML/AI frameworks and libraries</li>
        </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="skill">
            <p class="lead">Web design (UX/UI Design)</p>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-o"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="skill">
            <p class="lead">Web Development Frameworks</p>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-o"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        <ul>
          <li>Django</li>
          <li>Flask</li>
        </ul>
        </div>
    </div>
      <div class="row">
        <div class="col-md-6">
          <div class="skill">
            <p class="lead">Programming Languages</p>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
          <ul>
            <li>HTML, CSS & JavaScript</li>
            <li>Java</li>
            <li>Python</li>
            <li>SQL</li>
          </ul>
          </div>
      </div>
    </section>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <section id="soft-skills">
      <h2 style="border-bottom: 2px solid;">Soft Skills</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="skill">
            <p class="lead">Adaptability</p>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-o"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="skill">
            <p class="lead">Communication</p>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="skill">
            <p class="lead">Leadership</p>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="skill">
            <p class="lead">Organisation</p>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="skill">
            <p class="lead">Problem Solving</p>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star-o"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="skill">
            <p class="lead">Team Work</p>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="skill">
            <p class="lead">Time Management</p>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
      </div>
    </section>
</div>
</div>
{% endblock %}